<div class="container">
  <ul *ngIf="pages.length" class="pagination">
    <li class="page-item" [class.disabled]="paginatorConfig.number + 1 === 1">
      <a class="page-link" [routerLink]="['/clients/page', 1]">First</a>
    </li>
    <li class="page-item" [class.disabled]="paginatorConfig.number + 1 === 1">
      <a
        class="page-link"
        [routerLink]="['/clients/page', paginatorConfig.number]"
        >Previous</a
      >
    </li>
    <li class="page-item" *ngFor="let pageNumber of pages">
      <span
        class="page-link active"
        *ngIf="pageNumber - 1 === paginatorConfig.number"
        >{{ pageNumber }}</span
      >
      <a
        *ngIf="pageNumber - 1 !== paginatorConfig.number"
        class="page-link"
        [routerLink]="['/clients/page', pageNumber]"
        >{{ pageNumber }}</a
      >
    </li>
    <li
      class="page-item"
      [class.disabled]="
        paginatorConfig.number === paginatorConfig.totalPages - 1
      "
    >
      <a
        class="page-link"
        [routerLink]="['/clients/page', paginatorConfig.number + 2]"
        >Next</a
      >
    </li>
    <li
      class="page-item"
      [class.disabled]="
        paginatorConfig.number === paginatorConfig.totalPages - 1
      "
    >
      <a
        class="page-link"
        [routerLink]="['/clients/page', paginatorConfig.totalPages]"
        >Last</a
      >
    </li>
  </ul>
</div>
