<div class="card bg-light text-dark" style="height: 84vh">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <div class="danger" *ngIf="error">{{ error }}</div>
    <form *ngIf="!error" [formGroup]="clienteForm">
      <div class="form-group row">
        <label for="name" class="col-form-label col-sm">name *</label>
        <div class="col-sm6">
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            minlength="4"
            formControlName="name"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              clienteForm.controls.name.invalid &&
              (clienteForm.controls.name.touched ||
                clienteForm.controls.name.dirty)
            "
          >
            <div *ngIf="clienteForm.controls.name.errors?.required">
              Name is required.
            </div>
            <div *ngIf="clienteForm.controls.name.errors?.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-form-label col-sm">lastName *</label>
        <div class="col-sm6">
          <input
            type="text"
            id="lastName"
            name="lastName"
            class="form-control"
            formControlName="lastName"
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            clienteForm.controls.lastName.invalid &&
            (clienteForm.controls.lastName.touched ||
              clienteForm.controls.lastName.dirty)
          "
        >
          <div *ngIf="clienteForm.controls.lastName.errors?.required">
            lastName is required.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm">Email *</label>
        <div class="col-sm6">
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            formControlName="email"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              clienteForm.controls.email.invalid &&
              (clienteForm.controls.email.touched ||
                clienteForm.controls.email.dirty)
            "
          >
            <div *ngIf="clienteForm.controls.email.errors?.required">
              Email is required.
            </div>
            <div *ngIf="clienteForm.controls.email.errors?.email">
              Type a correct email format.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button
            role="button"
            [disabled]="clienteForm.invalid"
            class="btn btn-primary"
            (click)="save()"
          >
            {{ id ? "Edit" : "Crear" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
